<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel ="stylesheet" th:href="@{/style.css}" type="text/css"/>

    <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>


<div class="container">
    <h2>How to Code a Website</h2><br>
    <img src="img/code.jpg" class="img-rounded" alt="Code" width="304" height="236">
</div><br>




<p>Here I show you how to code your own website, then publish it to the web. It won't take long either. As you'll soon discover, building your own website is much easier than it sounds! </p><br>

    <h2>What is a Website?</h2><br>

    <p>Before we make our own website, we should understand what a website actually is.

        A website is simply a collection of web pages. The web pages are usually linked together, but not always. To build a website, you simply create one or more web pages.

        In order for the world to see it, the website (or collection of web pages) needs to be hosted on a web server. This web hosting is usually done by a hosting provider (otherwise known as a hosting company or web host). A hosting provider is simply a company that provides web hosting to their customers.</p>

<h3> Code Example 1 :</h3>

<div class="box">

</div>



</div>
</body>
</html>