<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel ="stylesheet" th:href="@{/bootstrap.min.css}" type="text/css"/>
    <link rel ="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <title>DIY</title>
</head>
<body>
<div class="topFont">
    <h3>diy</h3>
</div>

<h1>Welcome</h1>

<h3>Learn to do anything</h3>

<a href="/code">Code</a>

<a href="/photoshop">Photoshop</a>



</body>
</html>