<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel ="stylesheet" th:href="@{/style.css}" type="text/css"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h2>Photoshop Tutorial</h2><br>
    <img src="img/photoshop.jpg" class="img-rounded" alt="Code" width="304" height="236">
</div><br>

<h2>1. OPEN YOUR BEFORE PHOTO</h2>
<h3>Do File / Open …</h3>
<h2>2. OPEN YOUR “AFTER” PHOTO</h2>
<h3>Perform the same operation for the “after” photo. Your file will open in a second window. You will have two windows open on Photoshop.</h3>
<h2>3. ENLARGE YOUR CANVAS SIZE</h2>
<h3>In order to put your before after photos on the same image, you will need to have enough room to insert your second photo.

    To do this, go to the “before” image, click Image, then Canvas Size.</h3>
<h2>4. INSERT YOUR “AFTER” PHOTO </h2>
<h3>To insert your “after” photo, you have to select it by doing: Ctrl + A or (Command + A on Mac)

    Then click on the Move tool and drag the image to the other tab where the Canvas was previously enlarged.</h3>
<h3>Just place your image correctly, and you are done!

    In 30 seconds, you have your before after picture!</h3>

</body>
</html>